body{
    background-color: aliceblue;
}
.content{
text-align: center;
}
.header{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    text-decoration: underline;
}
.subheader{
    font-weight: lighter;
    font-size:medium;
}

.left{
    float: left;
    width: 50%;
    }
.flex-container{
    height: 50%;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
}

.box{
    height: 100px;
    width: 100px;
    border: 1px;
    border-style: solid;
    
}
.right{
    float: right;
    width: 50%;
    margin: 0%; 
    height: 0;
}
.Sketch-Title{
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.description{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

}
.goodboy{
    margin: 0%;
    align-items: center;
    padding: 0%;

}